.plans {
  padding: 5.6vw;
  width: 99vw;
  h2 {
    text-align: center;
  }
  &__list {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;

    &__item {
      text-align: center;
      padding: 60px 44px 44px;
      max-width: 380px;
      width: 100%;

      &:nth-child(2){
        background-image: url(../../dist/images/fundo_combo_plus.png);
        background-repeat: no-repeat;
        background-size: contain;
      }

      strong {
        display: block;
        margin: 24px 0;
      }

      img {
        height: 83px;
        max-width: 100%;
      }
    }
  }
  p {
    text-align: center;
  }
}
