@use "variables";
@use "hero";
@use "shows";
@use "plans";
@use "watch";
@use "movies-series";
@use "devices";
@use "faq";
@use "footer";
@use "header";

@font-face {
  font-family: Avenir;
  src: url(../../assets/fonts/Avenir-Regular.woff2);
  font-weight: 400;
}
@font-face {
  font-family: Avenir;
  src: url(../../assets/fonts/Avenir-Bold.woff2);
  font-weight: 700;
}

@mixin text($font-size: 16px) {
  font-size: $font-size;
  line-height: $font-size + 10px;
  color: variables.$main-text-color;
}
@mixin title($font-size: 28px) {
  @include text($font-size);
  color: variables.$secondary-text-color;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Avenir, sans-serif;
  list-style: none;
//   -webkit-appearance: none; o ideal seria utilizar um wrapper+icon proprio nos elementos <select> pois alguns navegadores (ex: opera) estilizam estes elementos 
//   -moz-appearance: none;
//   appearance: none;
}
body {
  background-color: variables.$bg-color;
}

.text--big {
  @include text(18px);
}

.text {
  @include text;
}
.text--small {
  @include text(12px);
}
.title--big {
  @include title(44px);
}

.title {
  @include title(40px);
}
.title--small {
  @include title;
}

.link-text {
  @include text(18px);
  color: variables.$secondary-text-color;
  text-decoration: underline;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  font-size: 18px;
  color: variables.$secondary-text-color;
  background-color: variables.$btn-primary-color;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
  text-decoration: none;
  padding: 8px 14px;
  letter-spacing: 1px;
  border: 1px solid variables.$btn-primary-color;
  &:hover{
    background-color: lighten(variables.$btn-primary-color, 3%);
}

  &--secondary{
    background-color: variables.$btn-secondary-color;
    border-color: variables.$btn-secondary-color;
    &:hover{
        background-color: lighten(variables.$btn-secondary-color, 3%);
    }
  }
  &--dark{
    background-color:variables.$btn-dark-color;
    border-color: variables.$secondary-text-color;
    &:hover{
        background-color: variables.$secondary-text-color;
        color: variables.$bg-color;
    }

  }
}
